/*!
 * 集成font-awesome的样式，使用自己做的图标
 */
@font-face {
    font-family: "dx table icon";
    src: url("./fonts/tableFont/tableFont.eot"); /* IE9 */
    src: url("./fonts/tableFont/tableFont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/tableFont/tableFont.woff2") format("woff2"), /* chrome、firefox、opera、Safari, Android, iOS */
    url("./fonts/tableFont/tableFont.woff") format("woff"), /* chrome、firefox */
    url("./fonts/tableFont/tableFont.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    url("./fonts/tableFont/tableFont.svg#uxfonteditor") format("svg"); /* iOS 4.1- */
}
.fa {
    font-family: 'dx table icon';
    font-weight: 550;
    font-size: 16px;
    color: rgb(30, 144, 255);
    margin:0 5px;
  cursor: pointer;
}
.fa:hover{
  /* text-decoration: underline; */
  color: red!important;
}
.fa:active{
  color: #fe6565!important;
}
.fa {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1; }
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -.0667em; }
.fa-xs {
  font-size: .75em; }
.fa-sm {
  font-size: .875em; }
.fa-1x {
  font-size: 1em; }
.fa-2x {
  font-size: 2em; }
.fa-3x {
  font-size: 3em; }
.fa-4x {
  font-size: 4em; }
.fa-5x {
  font-size: 5em; }
.fa-6x {
  font-size: 6em; }
.fa-7x {
  font-size: 7em; }
.fa-8x {
  font-size: 8em; }
.fa-9x {
  font-size: 9em; }
.fa-10x {
  font-size: 10em; }
.fa-fw {
  text-align: center;
  width: 1.25em; }
.fa-ul {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0; }
  .fa-ul > li {
    position: relative; }
.fa-li {
  left: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit; }
.fa-border {
  border: solid 0.08em #eee;
  border-radius: .1em;
  padding: .2em .25em .15em; }
.fa-pull-left {
  float: left; }
.fa-pull-right {
  float: right; }
.fa.fa-pull-left {
  margin-right: .3em; }
.fa.fa-pull-right {
  margin-left: .3em; }
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
          animation: fa-spin 2s infinite linear; }
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
          animation: fa-spin 1s infinite steps(8); }
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }
.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }
.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg); }
.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1); }
.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1); }
.fa-flip-both, .fa-flip-horizontal.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(-1, -1);
          transform: scale(-1, -1); }
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical,
:root .fa-flip-both {
  -webkit-filter: none;
          filter: none; }
.fa-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2.5em; }
.fa-stack-1x,
.fa-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%; }
.fa-stack-1x {
  line-height: inherit; }
.fa-stack-2x {
  font-size: 2em; }
.fa-inverse {
  color: #fff; }
/* 自己做的图标 */
.fa-cog:before {content: "\e653";}
.fa-check-circle:before {content: "\e63f";}
.fa-times-circle:before {content: "\e7f2";}
.fa-print:before {content: "\e764";}
.fa-plus-square:before {content: "\e671";}
.fa-edit:before {content: "\e502";}
.fa-trash-alt:before {content: "\e632";}
.fa-copy:before {content: "\e638";}
.fa-undo:before {content: "\e633";}
.fa-ban:before {content: "\e614";}
.fa-save:before {content: "\e616";}
.fa-upload:before {content: "\e612";}
.fa-download:before {content: "\e617";}
.fa-eye:before {content: "\e65a";}
.fa-file:before {content: "\e501";}
.fa-user-check:before {content: "\e6b5";}
.fa-question-circle:before {content: "\e7f0";}
.fa-reply:before {content: "\e60e";}
.fa-sign-in-alt:before {content: "\e7f1";}
.fa-sign-out-alt:before {content: "\e618";}
.fa-arrow-circle-up:before {content: "\e69e";}
.fa-arrow-circle-down:before {content: "\e67e";}
.fa-pause-circle:before {content: "\e611";}
.fa-stopwatch:before {content: "\e68b";}
.fa-fast-forward:before {content: "\e620";}
.fa-calculator:before {content: "\e60f";}
.fa-user-cog:before {content: "\e6a7";}
.fa-truck:before {content: "\e527";}
.fa-user-alt-slash:before {content: "\e630";}
.fa-check-labor:before {content: "\e726";}
.fa-get-data:before {content: "\e64e";}
.fa-add-son:before {content: "\E7F3";}
.fa-print-sum:before {content: "\E7F4";}
.fa-min-score:before {content: "\E730";}


.fa-attendance:before {content: "\E924";}
.fa-compassionate-leave:before {content: "\E925";}
.fa-absenteeism:before {content: "\E926";}
.fa-business-travel:before {content: "\E927";}
.fa-study:before {content: "\E928";}
.fa-visit-family:before {content: "\E929";}
.fa-marriage-holiday:before {content: "\E930";}
.fa-sick-leave:before {content: "\E931";}
.fa-funeral-leave:before {content: "\E932";}
.fa-no-roll-call:before {content: "\E933";}
.fa-official-holiday:before {content: "\E934";}
.fa-annual-leave:before {content: "\E935";}
.fa-nursing:before {content: "\E936";}
.fa-maternity-leave:before {content: "\E937";}

/* */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }
  

.el-button + .el-button {
    margin-left: 0!important;
}



@font-face {
    font-family: "dx-icofont";    
    src:url("./fonts/icofont.woff") format("woff"), /* chrome、firefox */
    url("./fonts/icofont.ttf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
}


.dxicon {
    font-family: "dx-icofont" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 16px;
    color: rgb(30, 144, 255);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dxicon:hover{
  cursor: pointer;
  /* text-decoration: underline; */
  color: red;
}
.dxicon:active{
  color: #fe6565;
}
.dxicon-404:before {
  content: "\e61c";
}

.dxicon-about:before {
  content: "\e60b";
}

.dxicon-add-1:before {
  content: "\e654";
}

.dxicon-add-circle:before {
  content: "\e61f";
}

.dxicon-add-circle-fine:before {
  content: "\e608";
}

.dxicon-align-center:before {
  content: "\e647";
}

.dxicon-align-left:before {
  content: "\e649";
}

.dxicon-align-right:before {
  content: "\e648";
}

.dxicon-app:before {
  content: "\e653";
}

.dxicon-auz:before {
  content: "\e672";
}

.dxicon-camera:before {
  content: "\e660";
}

.dxicon-camera-fill:before {
  content: "\e65d";
}

.dxicon-carousel:before {
  content: "\e634";
}

.dxicon-cart:before {
  content: "\e657";
}

.dxicon-cart-simple:before {
  content: "\e698";
}

.dxicon-cellphone:before {
  content: "\e678";
}

.dxicon-cellphone-fine:before {
  content: "\e63b";
}

.dxicon-chart:before {
  content: "\e62c";
}

.dxicon-chart-screen:before {
  content: "\e629";
}

.dxicon-chat:before {
  content: "\e606";
}

.dxicon-circle:before {
  content: "\e63f";
}

.dxicon-circle-dot:before {
  content: "\e617";
}

.dxicon-close:before {
  content: "\1006";
}

.dxicon-close-fill:before {
  content: "\1007";
}

.dxicon-code-circle:before {
  content: "\e635";
}

.dxicon-cols:before {
  content: "\e610";
}

.dxicon-component:before {
  content: "\e857";
}

.dxicon-console:before {
  content: "\e665";
}

.dxicon-date:before {
  content: "\e637";
}

.dxicon-delete:before {
  content: "\e640";
}

.dxicon-dialogue:before {
  content: "\e63a";
}

.dxicon-diamond:before {
  content: "\e735";
}

.dxicon-dollar:before {
  content: "\e659";
}

.dxicon-down:before {
  content: "\e61a";
}

.dxicon-download-circle:before {
  content: "\e601";
}

.dxicon-edit:before {
  content: "\e642";
}

.dxicon-engine:before {
  content: "\e628";
}

.dxicon-export:before {
  content: "\e67d";
}

.dxicon-face-cry:before {
  content: "\e69c";
}

.dxicon-face-smile:before {
  content: "\e6af";
}

.dxicon-face-smile-b:before {
  content: "\e650";
}

.dxicon-face-smile-fine:before {
  content: "\e60c";
}

.dxicon-face-surprised:before {
  content: "\e664";
}

.dxicon-female:before {
  content: "\e661";
}

.dxicon-file:before {
  content: "\e621";
}

.dxicon-file-b:before {
  content: "\e655";
}

.dxicon-find-fill:before {
  content: "\e670";
}

.dxicon-fire:before {
  content: "\e756";
}

.dxicon-flag:before {
  content: "\e66c";
}

.dxicon-fonts-clear:before {
  content: "\e639";
}

.dxicon-fonts-code:before {
  content: "\e64e";
}

.dxicon-fonts-del:before {
  content: "\e64f";
}

.dxicon-fonts-html:before {
  content: "\e64b";
}

.dxicon-fonts-i:before {
  content: "\e644";
}

.dxicon-fonts-strong:before {
  content: "\e62b";
}

.dxicon-fonts-u:before {
  content: "\e646";
}

.dxicon-form:before {
  content: "\e63c";
}

.dxicon-friends:before {
  content: "\e612";
}

.dxicon-group:before {
  content: "\e613";
}

.dxicon-headset:before {
  content: "\e6fc";
}

.dxicon-help:before {
  content: "\e607";
}

.dxicon-home:before {
  content: "\e68e";
}

.dxicon-layer:before {
  content: "\e638";
}

.dxicon-layim-download:before {
  content: "\e61e";
}

.dxicon-layim-theme:before {
  content: "\e61b";
}

.dxicon-layim-uploadfile:before {
  content: "\e61d";
}

.dxicon-layouts:before {
  content: "\e632";
}

.dxicon-left:before {
  content: "\e603";
}

.dxicon-link:before {
  content: "\e64c";
}

.dxicon-list:before {
  content: "\e60a";
}

.dxicon-loading:before {
  content: "\e63d";
}

.dxicon-loading-1:before {
  content: "\e63e";
}

.dxicon-location:before {
  content: "\e715";
}

.dxicon-log:before {
  content: "\e60e";
}

.dxicon-login-qq:before {
  content: "\e676";
}

.dxicon-login-wechat:before {
  content: "\e677";
}

.dxicon-login-weibo:before {
  content: "\e675";
}

.dxicon-male:before {
  content: "\e662";
}

.dxicon-menu-fill:before {
  content: "\e60f";
}

.dxicon-more:before {
  content: "\e65f";
}

.dxicon-more-vertical:before {
  content: "\e671";
}

.dxicon-next:before {
  content: "\e65b";
}

.dxicon-note:before {
  content: "\e66e";
}

.dxicon-notice:before {
  content: "\e667";
}

.dxicon-ok:before {
  content: "\e605";
}

.dxicon-ok-circle:before {
  content: "\1005";
}

.dxicon-password:before {
  content: "\e673";
}

.dxicon-pause:before {
  content: "\e651";
}

.dxicon-picture:before {
  content: "\e64a";
}

.dxicon-picture-fine:before {
  content: "\e60d";
}

.dxicon-play:before {
  content: "\e652";
}

.dxicon-praise:before {
  content: "\e6c6";
}

.dxicon-prev:before {
  content: "\e65a";
}

.dxicon-prev-circle:before {
  content: "\e633";
}

.dxicon-print:before {
  content: "\e66d";
}

.dxicon-radio:before {
  content: "\e643";
}

.dxicon-rate:before {
  content: "\e67b";
}

.dxicon-rate-half:before {
  content: "\e6c9";
}

.dxicon-rate-solid:before {
  content: "\e67a";
}

.dxicon-read:before {
  content: "\e705";
}

.dxicon-refresh:before {
  content: "\e669";
}

.dxicon-refresh-1:before {
  content: "\e666";
}

.dxicon-refresh-3:before {
  content: "\e9aa";
}

.dxicon-release:before {
  content: "\e609";
}

.dxicon-reply-fill:before {
  content: "\e611";
}

.dxicon-return:before {
  content: "\e65c";
}

.dxicon-right:before {
  content: "\e602";
}

.dxicon-rmb:before {
  content: "\e65e";
}

/*.dxicon-uniE9E0:before {
  content: "\e9e0";
}
*/
.dxicon-screen-full:before {
  content: "\e622";
}

.dxicon-screen-restore:before {
  content: "\e758";
}

.dxicon-search:before {
  content: "\e615";
}

.dxicon-senior:before {
  content: "\e674";
}

.dxicon-set:before {
  content: "\e716";
}

.dxicon-set-fill:before {
  content: "\e614";
}

.dxicon-set-sm:before {
  content: "\e620";
}

.dxicon-share:before {
  content: "\e641";
}

.dxicon-shrink-right:before {
  content: "\e668";
}

.dxicon-slider:before {
  content: "\e714";
}

.dxicon-snowflake:before {
  content: "\e6b1";
}

.dxicon-speaker:before {
  content: "\e645";
}

.dxicon-spread-left:before {
  content: "\e66b";
}

.dxicon-star:before {
  content: "\e600";
}

.dxicon-star-fill:before {
  content: "\e658";
}

.dxicon-survey:before {
  content: "\e6b2";
}

.dxicon-table:before {
  content: "\e62d";
}

.dxicon-tabs:before {
  content: "\e62a";
}

.dxicon-template:before {
  content: "\e663";
}

.dxicon-template-1:before {
  content: "\e656";
}

.dxicon-templeate-1:before {
  content: "\e630";
}

.dxicon-theme:before {
  content: "\e66a";
}

.dxicon-tips:before {
  content: "\e702";
}

.dxicon-top:before {
  content: "\e604";
}

.dxicon-tread:before {
  content: "\e6c5";
}

.dxicon-tree:before {
  content: "\e62e";
}

.dxicon-triangle-d:before {
  content: "\e625";
}

.dxicon-triangle-r:before {
  content: "\e623";
}

.dxicon-unlink:before {
  content: "\e64d";
}

.dxicon-up:before {
  content: "\e619";
}

.dxicon-upload:before {
  content: "\e67c";
}

.dxicon-upload-circle:before {
  content: "\e62f";
}

.dxicon-upload-drag:before {
  content: "\e681";
}

.dxicon-user:before {
  content: "\e770";
}

.dxicon-username:before {
  content: "\e66f";
}

.dxicon-util:before {
  content: "\e631";
}

.dxicon-vercode:before {
  content: "\e679";
}

.dxicon-video:before {
  content: "\e6ed";
}

.dxicon-voice:before {
  content: "\e688";
}

.dxicon-water:before {
  content: "\e636";
}

.dxicon-website:before {
  content: "\e7ae";
}

.dxicon-uniE9AC:before {
  content: "\e9ac";
}

.dxicon-uniE9AB:before {
  content: "\e9ab";
}

.dxicon-uniE9B0:before {
  content: "\e9b0";
}

.dxicon-uniE9AF:before {
  content: "\e9af";
}

.dxicon-uniE9AE:before {
  content: "\e9ae";
}

.dxicon-uniE9B8:before {
  content: "\e9b8";
}

.dxicon-uniE9BA:before {
  content: "\e9ba";
}

.dxicon-uniE9B9:before {
  content: "\e9b9";
}

.dxicon-uniE9BD:before {
  content: "\e9bd";
}

.dxicon-uniE9BC:before {
  content: "\e9bc";
}

.dxicon-uniE9BB:before {
  content: "\e9bb";
}

.dxicon-uniE9C2:before {
  content: "\e9c2";
}

.dxicon-uniE9C1:before {
  content: "\e9c1";
}

.dxicon-uniE9C0:before {
  content: "\e9c0";
}

.dxicon-uniE9BF:before {
  content: "\e9bf";
}

.dxicon-uniE9BE:before {
  content: "\e9be";
}

.dxicon-uniE9C5:before {
  content: "\e9c5";
}

.dxicon-uniE9C4:before {
  content: "\e9c4";
}

.dxicon-uniE9C9:before {
  content: "\e9c9";
}

.dxicon-uniE9C8:before {
  content: "\e9c8";
}

.dxicon-uniE9C7:before {
  content: "\e9c7";
}

.dxicon-uniE9C6:before {
  content: "\e9c6";
}

.dxicon-uniE9CA:before {
  content: "\e9ca";
}

.dxicon-uniE9CD:before {
  content: "\e9cd";
}

.dxicon-uniE9CE:before {
  content: "\e9ce";
}

.dxicon-uniE9CF:before {
  content: "\e9cf";
}

.dxicon-uniE9D0:before {
  content: "\e9d0";
}

.dxicon-uniE9D1:before {
  content: "\e9d1";
}

.dxicon-uniE9D2:before {
  content: "\e9d2";
}

.dxicon-uniE9D3:before {
  content: "\e9d3";
}

.dxicon-uniE9D4:before {
  content: "\e9d4";
}

.dxicon-uniE9D5:before {
  content: "\e9d5";
}

.dxicon-uniE9D6:before {
  content: "\e9d6";
}

.dxicon-uniE9D7:before {
  content: "\e9d7";
}

.dxicon-uniE9D8:before {
  content: "\e9d8";
}

.dxicon-uniE9D9:before {
  content: "\e9d9";
}

.dxicon-uniE9DA:before {
  content: "\e9da";
}

.dxicon-uniE9DB:before {
  content: "\e9db";
}

.dxicon-uniE9DC:before {
  content: "\e9dc";
}

.dxicon-uniE9DD:before {
  content: "\e9dd";
}

.dxicon-uniE9DF:before {
  content: "\e9df";
}

.dxicon-uniE9DE:before {
  content: "\e9de";
}

.dxicon-uniE9E5:before {
  content: "\e9e5";
}

.dxicon-uniE9E6:before {
  content: "\e9e6";
}

.dxicon-uniE9E7:before {
  content: "\e9e7";
}

.dxicon-uniE9E8:before {
  content: "\e9e8";
}

.dxicon-uniE9EC:before {
  content: "\e9ec";
}

.dxicon-uniE9EB:before {
  content: "\e9eb";
}

.dxicon-uniE9EA:before {
  content: "\e9ea";
}

.dxicon-uniE9E9:before {
  content: "\e9e9";
}

.dxicon-uniE9ED:before {
  content: "\e9ed";
}

.dxicon-uniE9EE:before {
  content: "\e9ee";
}

.dxicon-uniE9EF:before {
  content: "\e9ef";
}

.dxicon-uniE9F0:before {
  content: "\e9f0";
}

.dxicon-xinchuangkoudakai:before {
  content: "\e6bd";
}

.dxicon-uniECFA:before {
  content: "\ecfa";
}

.dxicon-ppt1:before {
  content: "\e706";
}

.dxicon-uniECFB:before {
  content: "\ecfb";
}

.dxicon-uniED00:before {
  content: "\ed00";
}

.dxicon-uniECFF:before {
  content: "\ecff";
}

.dxicon-uniECFE:before {
  content: "\ecfe";
}
.dxicon-pushQw:before {
  content: "\e938";
}
